.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.financial-box:hover{
  background-color: rgb(245, 245, 245);
}
.staffing-box:hover{
  background-color: rgb(245, 245, 245);
}
.digital-box:hover{
  background-color: rgb(245, 245, 245);
}
.retail-box:hover{
  background-color: rgb(245, 245, 245);
}
.logistic-box:hover{
  background-color: rgb(245, 245, 245);
}
.aboutus-box:hover{
  background-color: rgb(245, 245, 245);
}
.careers-box:hover{
  background-color: rgb(245, 245, 245);
}
.contactus-box:hover{
  background-color: rgb(245, 245, 245);
}

.rotate {
  transition: transform 0.3s ease-out;
  display: inline-block; /* Ensure the span takes only the space it needs */
}

.rotate.down {
  transform: rotate(0deg);
}

.rotate.up {
  transform: rotate(180deg);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
